
@font-face{
    font-family: "Proxima Nova";
    src:url('../fonts/proximanova-regular-webfont.woff') format('woff'),
     url('../fonts/proximanova-regular-webfont.woff2') format('woff2');
    font-weight: normal;
}

@font-face{
    font-family: "Proxima Nova";
    src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
    url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: bold;

}

@font-face{
    font-family: "Proxima Nova";
    src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_black-webfont.woff') format('woff');
    font-weight: 200;
}
body{
    font-family:"Proxima Nova", sans-serif;
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

.container{
    text-align: center;
}
.full-logo{
    margin: 1em 0 0.25em 1em;

}
.full-logo .logo{
    width:60px;
}

.full-logo .column{
    float:left;
}

.full-logo h1{
    font-size: 1em;
    margin-top: 27.5%;
    color:#181F4E;
    padding-left:10px ;
}

.full-logo .row:after{
    content:"";
    clear:both;
    display:table;
}

.nav-desktop{
    display:none;
}

header{
    display:block;
    background-color: white;
    position:fixed;
    top: 0;
    width:100%;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    z-index: 10;
}

section{
    margin-top: 15em;
    color: #181F4E;
    position:relative;
    z-index: 6;
}

section h1{
    font-size: 1.5em;
}

section .subhead{
    font-size:1em;
}
section h1, .subhead{
    margin: 0 1em;
}

section .laptop{
    width:200px;
    margin-left:75px;
}

section .laptop-popup{
    width:60px;
    position:relative;
    bottom:15%;
    right:50px;
    z-index: -2;
}

section .row{
    display:flex;
    justify-content: center;
    margin:5em 5em 0;
}

.blue-container .container{
    color:white;
    background-color: #181F4E;
    padding: 6em 0 4em; 
    transform: skewY(-3deg);
    position:relative;
    bottom:4em;
    z-index: 1;
}

.blue-container{
    padding-bottom: 1em;
    background-color: #181F4E;
    position: relative;
    z-index: 1;
}

.blue-container .row img{
    width:80px; 
    transform: skewY(3deg);
}

.blue-container .profile{
    width: 10em;
    transform: skewY(3deg);
}

.blue-container .row{
    display:flex;
    justify-content: center;
    
}
.blue-container .column{
    margin: 0 2em;
}
.blue-container .column:nth-child(2) {
    position:relative;
    top:0.3em;
}

.blue-container p{
    margin: 0 5em;
    transform: skewY(3deg);
}

.blue-container h1{
    transform: skewY(3deg);
}

.grid-container{
    padding: 6em 0;
    position: relative;
    overflow: hidden;
    min-width: 100%;
}

.grid-container .white-container{
    background-color: rgb(24,31,78, 0.03);
    margin: 0 3em;
    padding: 4em 0;
    border-radius: 40px;
    position: relative;
    text-align: center;
    z-index: 2;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(24,31,78,0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(24,31,78,0.1);
    box-shadow: 10px 10px 5px 0px rgba(24,31,78,0.1);
}

.grid-container .white-container .programming{
    color:#F27035;
}

.grid-container .white-container .design{
    color:rgb(47, 142, 209);
} 
.grid-container .programming,.design{
    position: relative;
    margin-top:-1em ;
}

.grid-container .white-container h2{
    color:#181F4E;
    font-size:2em;
    font-weight: 200;
    margin: 0em;
    text-shadow: 5px 4px 3px rgba(0,0,0,0.10);
    
}

#large-orange{
    position: absolute;
    top: -3em;
    left:-20%;
    width:70%;
    transform: rotate(20deg);
}

#large-blue{
    position: absolute;
    left:60%;
    bottom: -8em;
    width:70%;
    transform: rotate(20deg); 
    z-index: 1;
}

#med-orange{
    position: absolute;
    width:40%;
    bottom: 3em;
    left:0em;
    transform: rotate(-10deg);  
}

#med-blue{
    position: absolute;
    width:25%;
    top:2em;
    right:0;
    transform: rotate(25deg);
}

#med-orange-opaque{
    display:none;
}

#med-blue-opaque{
    display:none;
}

footer{
    position:relative;
    color:white;
    background-color:#181F4E;
    padding: 2em 0;
    z-index: 2;
}

footer .row img{
    width: 60px;
}

footer .row{
    padding: 2em 3em;
    display:flex;
    justify-content: center;
}
footer .column{
    margin: 0 2em;
}
footer .end-logo{
    width:100px;
}

footer h1{
    font-size:1.5em;
}

footer p{
    font-size:1em;
}

@media only screen and (min-width:560px){
   .blue-container p{
       font-size: 1.2em;
   }
   #large-orange{
       position:absolute;
       top: -8%;
       left:-20%;
   }
   section .laptop{
       width: 300px;
       margin-left: 6em;
   }
   section .laptop-popup{
       width: 80px;
       margin-right: 2em;
   }
   .blue-container .row img{
       width:80px;
   }
  
}



@media only screen and (min-width:640px){
    .full-logo .logo{
        width:90px;
    }
    .full-logo h1{
        font-size: 1.5em;
    }
    section h1{
        font-size: 2em;
    }
    
    section .subhead{
    
        font-size:1.5em;
    }
    .blue-container p{
        font-size: 1.2em;
    }
    .blue-container .row img{
        width:100px;
    }
   
    #large-orange{
        position:absolute;
        width:50%;
        top:-8%;
        left:-8%
    }
    #large-blue{
        position:absolute;
        width:50%;
        left:70%;
        bottom: -8em;
    }
    #med-orange{
        width: 25%;
        left: 2%;
    }
    #med-blue{
        width:20%;
        right:2%;
    }
    
    .grid-container .container .programming,.design {
        font-size:1.2em;
    }

    footer h1{
        font-size:2em
    }
    
    footer p{
        font-size:1.5em;
    }

    footer .row img{
        width: 80px;
    }
    
 }
 @media only screen and (min-width:960px){
    #large-orange{
        position:absolute;
        top: -10%;
    }
 
 }
 @media only screen and (min-width:1024px){
     .blue-container .profile{
         width: 15em;
         float:left;
         margin-left: 5em;
     }

     .blue-container{
         height: 25em;
     }

    .blue-container .row {
        display:block;
        float:left;
        padding: 2em 0;
    }

    .blue-container .row img{
        width: 100px;
        position: relative;
        bottom: 1em;
        z-index:1;
    }

    .blue-container .column:nth-child(2){
        margin-top: 2em;
    }

    .blue-container .about-text{
        text-align:left;
        position:relative;
        bottom: 1em;
    }

    .blue-container .container{
        padding: 6em 0.5em 0 2em ;
    }

    .grid-container .white-container .container{
       display:flex;
       justify-content: center;
    }

    .grid-container .container .programming,.design {
        padding: 0 5em;
    }

    .grid-container .white-container{
        margin: 5em 20%;
        padding: 2em 0em;
    }

    #large-orange{
        position:absolute;
        width: 40%;
        top: -12%;
    }

    #large-blue{
        position:absolute;
        width:50%;
        left:70%;
        bottom: -40%;
    }

    #med-orange{
        width: 20%;
        left: 2%;
    }

    #med-blue{
        width:20%;
        right:2%;
    }

    #med-orange-opaque{
        display:inherit;
        position: absolute;
        width: 20%;
        bottom: -5%;
        left: 20%;
        transform: rotate(-32deg);
        opacity: 40%;
    }   

    #med-blue-opaque{
        display: inherit;
        position: absolute;
        width: 10%;
        top:5%;
        right:25%;
        opacity:40%;
    }
    footer #email{
        text-decoration: underline;
    }
 }

 @media only screen and (min-width:1250px){
    .grid-container .white-container{
        margin: 5em 25%;
        padding: 2em 0em;
    }
    #large-orange{
        position:absolute;
        width: 32%;
        top: -14%;
    }

    #large-blue{
        position:absolute;
        width:40%;
    }
    #med-orange{
        width: 15%;
        left: 2%;
    }

    #med-blue{
        width:15%;
        right:2%;
    }
    .blue-container .about-text{
        position: relative;
        top: 1.5em;
    }
 

 }

 @media only screen and (min-width:1512px){
    .grid-container .white-container{
        margin: 5em 28%;
    }
    .blue-container .container{
        padding: 6em 10em 0em; 
        position: relative;
        bottom: 4em;     
    }
    .blue-container .about-text{
        position: relative;
        top: 1em;
    }
 }

 @media only screen and (min-width:1840px){
    .blue-container .container{
        padding: 6em 20em 2em; 
        position: relative;
        bottom: 4em;     
    }
   #med-blue{
       width:12.5%;
       top:0;
   }
 }



 
